@model MOTOSystem.Models.ClassRecord

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid content-top-gap">
        <!-- forms 1 -->
        <div class="card card_border py-2 mb-4">
            <div class="cards__heading">
                <h3>Hapus Pengguna <span></span></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@Html.DisplayNameFor(model => model.class_id)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(model => model.class_id)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@Html.DisplayNameFor(model => model.User.u_fname)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(model => model.User.u_fname)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@Html.DisplayNameFor(model => model.class_time)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(model => model.class_time)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@Html.DisplayNameFor(model => model.class_teacher)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(model => model.class_teacher)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@Html.DisplayNameFor(model => model.Class_Package1.cp_name)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(model => model.Class_Package1.cp_name)</p>
                                    </div>
                                </div>
                                <br />
                                <input type="submit" value="Padam" class="btn btn-danger" onclick="return confirm('Anda yakin ingin hapuskan rekod tersebut?');" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //forms 1 -->
    </div>



    <div class="form-actions no-color">
        @Html.ActionLink("Kembali", "Index")
    </div>
}