@model MOTOSystem.Models.ClassRecord

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid content-top-gap">
        <!-- forms 1 -->
        <div class="card card_border py-2 mb-4">
            <div class="cards__heading">
                <h3>Kemaskini Maklumat Pengguna <span></span></h3>
            </div>
            <div class="card-body">
                <form action="#" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.class_id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.u_id, null, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.u_id, ViewBag.u_id as SelectList, "Choose..", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.u_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.class_time, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("class_time", new List<SelectListItem>{
                                               new SelectListItem{ Text="30 Minit", Value = "30 Minit" },
                                               new SelectListItem{ Text="60 Minit", Value = "60 Minit" },
                                               new SelectListItem{ Text="120 Minit", Value = "120 Minit" }}, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.class_time, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.class_teacher, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.DropDownList("class_teacher", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.class_teacher, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.class_package, null, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("class_package", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.class_package, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-style mt-4">Kemaskini</button>
            </div>
        </div>
        <!-- //forms 1 -->
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
