@model IEnumerable<MOTOSystem.Models.ClassRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.class_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.class_teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class_Package1.cp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.u_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.class_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.class_teacher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class_Package1.cp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.u_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.class_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.class_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.class_id })
        </td>
    </tr>
}

</table>
