@model MOTOSystem.Models.PerformanceReport

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid content-top-gap">
        <!-- forms 1 -->
        <div class="card card_border py-2 mb-4">
            <div class="cards__heading">
                <h3>Rekod Prestasi Pelajar<span></span></h3>
            </div>
            <div class="card-body">
                <form action="#" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.p_month, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("p_month", new List<SelectListItem>{
                                       new SelectListItem{ Text="Januari", Value = "1" },
                                       new SelectListItem{ Text="Februari", Value = "2" },
                                       new SelectListItem{ Text="Mac", Value = "3" },
                                       new SelectListItem{ Text="April", Value = "4" },
                                       new SelectListItem{ Text="Mei", Value = "5" },
                                       new SelectListItem{ Text="Jun", Value = "6" },
                                       new SelectListItem{ Text="Julai", Value = "7" },
                                       new SelectListItem{ Text="Ogos", Value = "8" },
                                       new SelectListItem{ Text="September", Value = "9" },
                                       new SelectListItem{ Text="Oktober", Value = "10" },
                                       new SelectListItem{ Text="November", Value = "11" },
                                       new SelectListItem{ Text="Disember", Value = "12" }}, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.p_month, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.u_id, htmlAttributes: new { @class = "input__label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.DropDownList("u_id", ViewBag.u_id as SelectList, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownListFor(model => model.u_id, ViewBag.u_id as SelectList, "Choose..", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.u_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.student_performance, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.student_performance, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.student_performance, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.class_date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.class_date, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.class_date, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <button type="submit" class="btn btn-primary btn-style mt-4">Cipta Rekod</button>
                </form>
            </div>
        </div>
        <!-- //forms 1 -->
    </div>
}


<div>
    @Html.ActionLink("Kembali", "IndexTeacher")
</div>
