@model MOTOSystem.Models.PerformanceReport

@{
    ViewBag.Title = "DetailsStudent";
}

<h2>DetailsStudent</h2>

<div>
    <h4>PerformanceReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_performance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_performance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.class_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_status)
        </dd>


    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        @Html.EditorFor(model => model.p_status, "Approve")
        @Html.HiddenFor(model => model.class_ref)
        @Html.HiddenFor(model => model.class_date)
        @Html.HiddenFor(model => model.p_id)
        @Html.HiddenFor(model => model.p_month)
        @Html.HiddenFor(model => model.u_id)
        <input type="submit" value="Save" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>

    }

</p>
