@model MOTOSystem.Models.PerformanceReport

@{
    ViewBag.Title = "ReportPrint";
}

<header>
    <h1>Performance Report</h1>
    <link rel="stylesheet" href="style.css">
</header>
<article>
    <h1>Recipient</h1>
    <address contenteditable>
        <p>@Html.DisplayFor(model => model.User.u_fname)<br>@Html.DisplayFor(model => model.User.u_lname)</p>
        <p>@Html.DisplayFor(model => model.u_id)</p>
    </address>
    <table class="inventory">
        <thead>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.p_month)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.p_month)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.student_performance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.student_performance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.class_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.class_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.p_status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.p_status)
                </dd>
            </dl>
        </thead>

    </table>
    <button onclick="window.print()">Print</button>

</article>

