@model MOTOSystem.Models.SalaryInvoice

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid content-top-gap">
        <!-- forms 1 -->
        <div class="card card_border py-2 mb-4">
            <div class="cards__heading">
                <h3>Rekod Gaji <span></span></h3>
            </div>
            <div class="card-body">
                <form action="#" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.u_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("u_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.u_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.i_amount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.i_amount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.i_amount, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.i_allowance, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.i_allowance, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.i_allowance, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.i_classes, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.i_classes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.i_classes, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.i_month, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("i_month", new List<SelectListItem>{
                                       new SelectListItem{ Text="Januari", Value = "1" },
                                       new SelectListItem{ Text="Februari", Value = "2" },
                                       new SelectListItem{ Text="Mac", Value = "3" },
                                       new SelectListItem{ Text="April", Value = "4" },
                                       new SelectListItem{ Text="Mei", Value = "5" },
                                       new SelectListItem{ Text="Jun", Value = "6" },
                                       new SelectListItem{ Text="Julai", Value = "7" },
                                       new SelectListItem{ Text="Ogos", Value = "8" },
                                       new SelectListItem{ Text="September", Value = "9" },
                                       new SelectListItem{ Text="Oktober", Value = "10" },
                                       new SelectListItem{ Text="November", Value = "11" },
                                       new SelectListItem{ Text="Disember", Value = "12" }}, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.i_month, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary btn-style mt-4">Cipta Rekod</button>
                </form>
            </div>
        </div>
        <!-- //forms 1 -->
    </div>
}


<div>
    @Html.ActionLink("Kembali", "Index")
</div>
