@model IEnumerable<MOTOSystem.Models.SalaryInvoice>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid content-top-gap">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["AlertMessage"]
        </div>

    }

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb my-breadcrumb">
            @if (Session["userRole"].ToString() == "Admin")
            {
                <li class="breadcrumb-item"><a href="@Url.Action("ADashboard", "Home")">Utama</a></li>
            }
            @if (Session["userRole"].ToString() == "Ustaz")
            {
                <li class="breadcrumb-item"><a href="@Url.Action("TDashboard", "Home")">Utama</a></li>
            }
            @if (Session["userRole"].ToString() == "Ustazah")
            {
                <li class="breadcrumb-item"><a href="@Url.Action("TDashboard", "Home")">Utama</a></li>
            }
            @if (Session["userRole"].ToString() == "Pelajar")
            {
                <li class="breadcrumb-item"><a href="@Url.Action("SDashboard", "Home")">Utama</a></li>
            }

            <li class="breadcrumb-item active" aria-current="page">Rekod Pengurusan Gaji</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- forms -->
    <section class="forms">
        <!-- forms 2 -->
        <div class="card card_border py-2 mb-4">
            <div class="cards__heading">
                <h3>Rekod Keseluruhan Elaun Pengajar</h3>
            </div>
            <p>
                @if (Session["userRole"].ToString() == "Admin")
                {
                    @Html.ActionLink("Rekod Baharu", "Create", null, new { @class = "btn btn-primary" })
                }
            </p>
            <br />
            <table class="table" id="example1">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.User.u_fname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.i_amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.i_status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.i_month)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.i_classes)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.u_roles) @Html.DisplayFor(modelItem => item.User.u_fname) @Html.DisplayFor(modelItem => item.User.u_lname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.i_amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.i_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.i_month)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.i_classes)
                            </td>

                            <td>
                                @if (Session["userRole"].ToString() == "Admin")
                                {
                                    @Html.ActionLink("Kemaskini", "Edit", new { id = item.i_id }, new { @class = "btn btn-warning" })
                                    <t />
                                    @Html.ActionLink("Padam", "Delete", new { id = item.i_id }, new { @class = "btn btn-danger" })
                                }
                                @Html.ActionLink("Maklumat", "Details", new { id = item.i_id }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- //forms 2 -->
    </section>
</div>