@{
    ViewBag.Title = "ADashboard";
}

<!-- main content start -->
@*<div class="main-content">*@

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("ADashboard")>Utama</a></li>
                <li class="breadcrumb-item active" aria-current="page">Papan Pemuka</li>
            </ol>
        </nav>
        <div class="welcome-msg pt-3 pb-4">
            <h1>Assalamualaikum <span class="text-primary">@Session["userRole"]</span></h1>
            <p></p>
        </div>


        <!-- statistics data -->
        <div class="statistics">
            <div class="row">
                <div class="col-xl-6 pr-xl-2">
                    <div class="row">
                        <div class="col-sm-6 pr-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-users"> </i>
                                <h3 class="text-primary number">@ViewBag.User</h3>
                                <p class="stat-text">Jumlah Pengguna</p>
                            </div>
                        </div>
                        <div class="col-sm-6 pl-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-graduation-hat"> </i>
                                <h3 class="text-secondary number">@ViewBag.Teacher</h3>
                                <p class="stat-text">Jumlah Pengajar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 pl-xl-2">
                    <div class="row">
                        <div class="col-sm-6 pr-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-user"> </i>
                                <h3 class="text-success number">@ViewBag.Student</h3>
                                <p class="stat-text">Jumlah Pelajar</p>
                            </div>
                        </div>
                        <div class="col-sm-6 pl-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-cart"> </i>
                                <h3 class="text-danger number">@ViewBag.Package</h3>
                                <p class="stat-text">Jumlah Pakej</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //statistics data -->
       
        
        <!-- accordions -->
        <div class="accordions">
            <div class="row">
                <!-- accordion style 1 -->
                <div class="col-lg-12 mb-4">
                    <div class="card card_border">
                        <div class="card-header chart-grid__header">
                            Soalan Lazim
                        </div>
                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header bg-white p-0" id="headingOne">
                                        <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">Adakah Admin diberi hak untuk mencipta rekod prestasi pelajar?</a>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#accordionExample">
                                        <div class="card-body para__style">
                                            Tidak. Hanya Tutor sahaja diberikan hak untuk menilai prestasi pelajar mereka. Namun Admin dibenarkan untuk memadam
                                            rekod tersebut.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-white p-0" id="headingTwo">
                                        <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                                           aria-expanded="false" aria-controls="collapseTwo">Bilakah Admin perlu kemaskini butiran gaji?</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body para__style">
                                            Minggu ke-4 pada setiap bulan dimana proses pembayaran bagi setiap pelajar seharusnya telah dibuat dan rekod kelas telah disahkan
                                            oleh pihak pelajar.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-white p-0" id="headingThree">
                                        <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                                           aria-expanded="false" aria-controls="collapseThree">
                                            Apakah modul yang berhak diurus oleh Admin?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-parent="#accordionExample">
                                        <div class="card-body para__style">
                                            Berikut adalah modul yang berhak diurus oleh Admin: <br />
                                            1) Pengurusan Rekod Kelas<br />
                                            2) Pengurusan Rekod Pengguna<br />
                                            3) Pengurusan Pakej Kelas<br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //accordion style 1 -->
            </div>
        </div>
        <!-- //accordions -->
       

    </div>
    <!-- //content -->
@*</div>*@
<!-- main content end-->