@{
    ViewBag.Title = "Home Page";
}

<!-- main content start -->
<!--<div class="main-content">-->

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("TDashboard")>Utama</a></li>
                <li class="breadcrumb-item active" aria-current="page">Papan Pemuka</li>
            </ol>
        </nav>
        <div class="welcome-msg pt-3 pb-4">
            <h1>Assalamualaikum <span class="text-primary">@Session["userRole"]</span></h1>
            <p></p>
        </div>


        <!-- statistics data -->
        <div class="statistics">
            <div class="row">
                <div class="col-xl-6 pr-xl-2">
                    <div class="row">
                        <div class="col-sm-6 pr-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-users"> </i>
                                <h3 class="text-primary number">@ViewBag.Teacher</h3>
                                <p class="stat-text">Jumlah Pengajar</p>
                            </div>
                        </div>
                        <div class="col-sm-6 pl-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-eye"> </i>
                                <h3 class="text-secondary number">@ViewBag.Student</h3>
                                <p class="stat-text">Jumlah Pelajar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 pl-xl-2">
                    <div class="row">
                        <div class="col-sm-6 pr-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-cloud-download"> </i>
                                <h3 class="text-success number">@ViewBag.Performance</h3>
                                <p class="stat-text">Jumlah Rekod Prestasi</p>
                            </div>
                        </div>
                        <div class="col-sm-6 pl-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-cart"> </i>
                                <h3 class="text-danger number">@ViewBag.Package</h3>
                                <p class="stat-text">Jumlah Pakej</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //statistics data -->
        <!-- charts -->
        <div class="chart">
            <div class="row">
                <div class="col-lg-6 pr-lg-2 chart-grid">
                    <div class="card text-center card_border">
                        <div class="card-header chart-grid__header">
                            Bar Chart
                        </div>
                        <div class="card-body">
                            <!-- bar chart -->
                            <div id="container">
                                <canvas id="barchart"></canvas>
                            </div>
                            <!-- //bar chart -->
                        </div>
                        <div class="card-footer text-muted chart-grid__footer">
                            Updated 2 hours ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-2 chart-grid">
                    <div class="card text-center card_border">
                        <div class="card-header chart-grid__header">
                            Line Chart
                        </div>
                        <div class="card-body">
                            <!-- line chart -->
                            <div id="container">
                                <canvas id="linechart"></canvas>
                            </div>
                            <!-- //line chart -->
                        </div>
                        <div class="card-footer text-muted chart-grid__footer">
                            Updated just now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //charts -->
       
        <!-- accordions -->
        <div class="accordions">
            <div class="row">
                <!-- accordion style 1 -->
                <div class="col-lg-12 mb-4">
                    <div class="card card_border">
                        <div class="card-header chart-grid__header">
                            Soalan Lazim
                        </div>
                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header bg-white p-0" id="headingOne">
                                        <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">Bilakah rekod prestasi pelajar perlu diselesaikan?</a>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#accordionExample">
                                        <div class="card-body para__style">
                                            Rekod prestasi pelajar sewajarnya diselesaikan sebaik sahaja jumlah kelas telah pun habis dijalankan.
                                            Dimana pelajar tersebut atau wakilnya akan mengesahkan rekod tersebut.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-white p-0" id="headingTwo">
                                        <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                                           aria-expanded="false" aria-controls="collapseTwo">Bilakah invois gaji dapat dilihat?</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body para__style">
                                            Selewat-lewatnya pada minggu pertama pada setiap bulan, dimana proses tersebut akan diurus tadbir oleh pihak
                                            Admin.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-white p-0" id="headingThree">
                                        <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                                           aria-expanded="false" aria-controls="collapseThree">
                                            Bagaimana rekod prestasi pelajar dicipta? 
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-parent="#accordionExample">
                                        <div class="card-body para__style">
                                            Berikut adalah cara-cara merekod prestasi pelajar: <br />
                                            1) Pilih Pengurusan Rekod Prestasi Pelajar pada bar sisi<br />
                                            2) Tekan butang Cipta Rekod bagi meneruskan proses penilaian<br />
                                            3) Sesudah mengisi ruang yang disediakan, Tutor perlulah menekan butang Cipta supaya rekod 
                                               tersebut dapat disimpan didalam pangkalan data sistem ini.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //accordion style 1 -->
            </div>
        </div>
        <!-- //accordions -->
    </div>
    <!-- //content -->
<!--</div>-->
<!-- main content end-->